/* 尺寸 */
:root {
  --w-sm: 480px;
  --w-md: 768px;
  --w-lg: 976px;
  --w-xl: 1440px;
}

/* 颜色 */
:root {
  --primary: #063AC0;
  --warning: #F8B83A;
  --danger: #F44336;
  --black: #242425;
  --white: #fff;
  --bg-black: #333;
  --font-gray: #b0b0b0;
}